<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace='com.chishenme.dao.user.UserLoginInfoMapper'>
    <insert id="addUserLoginInfo" parameterType="com.chishenme.model.user.UserLoginInfo" useGeneratedKeys="true" keyProperty="entry_id">
        INSERT INTO user_login_info (user_id, user_name, password, encrypt_user_name, status, modifier_code)
        VALUES (#{user_id}, #{user_name}, #{password}, #{encrypt_user_name}, #{status}, #{modifier_code})
    </insert>
</mapper>