<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace='com.chishenme.dao.user.UserInfoMapper'>
    <insert id="addUserInfo" parameterType="com.chishenme.model.user.UserInfo" useGeneratedKeys="true" keyProperty="user_id" keyColumn="user_id">
        INSERT INTO user_info (first_name, last_name, email, age, gender, user_city, modifier_code)
        VALUES (#{first_name}, #{last_name}, #{email}, #{age}, #{gender}, #{user_city}, #{modifier_code})
    </insert>
</mapper>