<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace='com.chishenme.dao.user.UserAccountStatusMapper'>
    <insert id="addANewUserAccountStatus" parameterType="com.chishenme.model.user.UserAccountStatus" useGeneratedKeys="true" keyProperty="user_id" keyColumn="user_id">
        INSERT INTO user_account_status (user_id, status, modifier_code)
        VALUES (#{user_id}, #{status}, #{modifier_code})
    </insert>
</mapper>