<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace='com.chishenme.dao.shoppinglist.ShoppinglistInfoMapper'>
	<insert id="addShoppinglistInfo" parameterType="com.chishenme.model.shoppinglist.ShoppinglistInfo">
		INSERT INTO shoppinglist_info (shoppinglist_id, item_id, modifier_code)
		VALUES (#{shoppinglist_id}, #{item_id}, #{modifier_code})
	</insert>
</mapper>